{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block main %}
    <div class="container-fluid d-block">

        <h2>Filtrer les sorties</h2>

        <div class="mb-5 justify-content-between shadow p-3 mb-3 rounded ">
            <form method="post">
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Campus</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="campus">
                                {% for campus in campuses %}
                                <option value="{{ campus.id }}" {% if app.session.get('campusSelected') ==  campus.id %}selected{% endif %}>{{ campus.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Le nom de la sortie contient..."  aria-label="Username" aria-describedby="addon-wrapping" value=""  name="word_content">
                        </div>
                        <div class="form-group d-flex">
                            <label class="form-check-label p-2" for="dateMin">Entre </label>
                            <input type="date" class="form-control" id="dateMin" name="dateMin">
                            <label class="form-check-label p-2" for="dateMax"> et </label>
                            <input type="date" class="form-control" id="dateMax" name="dateMax">
                        </div>
                    </div>
                    <div class="col-md-3 offset-lg-1">

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="org" name="sortHost" {% if app.session.get('hostSelected') == "on" %}checked{% endif %}>
                                <label class="custom-control-label" for="org" >Sorties dont je suis l'organisateur/trice</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="booked"  name="sortBooked" {% if app.session.get('bookedSelected') == "on" %}checked{% endif %}>
                                <label class="custom-control-label" for="booked">Sorties auquelles je suis inscrit/e</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="notBooked" name="sortNotBooked" {% if app.session.get('notBookedSelected') == "on" %}checked{% endif %}>
                                <label class="custom-control-label" for="notBooked">Sorties auquelles je ne suis pas inscrit/e</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="finished"  name="sortDateFinished" {% if app.session.get('dateFinishedSelected') == "on" %}checked{% endif %}>
                                <label class="custom-control-label" for="finished">Sorties passées</label>
                            </div>

                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <input type="submit" class="btn btn-dark btn-lg" value="Rechercher">
                    </div>
                </div>
            </form>
        </div>

        <div id="btnCreateVacation" class="example-wrapper mb-3 ml-5">
            <a href="{{ path('vacation_new') }}" type="button" class="btn btn-dark btn-lg">Créer une sortie</a>
        </div>

        <div class="mb-5 shadow p-3 mb-5 rounded">
            <table class="table table-hover " id="tabVacations">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for vacation in vacations %}
                    <tr>
                        <th scope="row">{{ vacation.name }}</th>
                        <td data-label="Date">{{ vacation.vacationDate|date("d/m/Y H:i:s") }}</td>
                        <td data-label="Clôture"
                            {% if vacation.vacationLimitDate < date() %}class="text-danger"{% endif %}>
                            {{ vacation.vacationLimitDate|date("d/m/Y") }}</td>
                        <td data-label="Inscrits">{{ vacation.booked }} / {{ vacation.placeNumber }}</td>
                        <td data-label="Etat">{{ vacation.state.tag }}</td>
                        <td data-label="Inscrit">
                            {% if vacation.getParticipants().contains(app.user) %}
                                X
                            {% endif %}
                        </td>
                        <td data-label="Organisateur"><a href="{{ path('user_show', {'id': vacation.organiser.id}) }}" >{{ vacation.organiser }} </a> </td>
                        <td data-label="Actions" >
                            {% if vacation.state.id == "2" and app.user.id == vacation.organiser.id  %}
                                <a href="{{ path('vacation_edit', {"id": vacation.id} )}}" class="pr-1">| Modifier |</a>
                                <a href="{{ path('home_publish', {"id": vacation.id}) }}" class="pl-1">| Publier |</a>
                            {%  endif %}

                            {% if vacation.state.id  == "4" and vacation.vacationDate > date('-1month')%}
                                <a href="{{ path('vacation_show', {"id": vacation.id}) }}" class="pr-1">| Afficher |</a>
                                {% elseif (vacation.state.id  == "4" or vacation.state.id  == "6"  )and vacation.vacationDate < date('-1month') %}
                                    | Archivé |
                            {%  endif %}

                            {% if vacation.state.id  == "6" and vacation.vacationDate > date('-1month') %}
                                <a href="{{ path('vacation_show', {"id": vacation.id}) }}" class="pr-1">| Afficher |</a>
                            {%  endif %}


                            {% if (vacation.state.id  == "1" or vacation.state.id  == "4") and vacation.vacationDate > date()  and (vacation.getParticipants().contains(app.user))  %}
                                <a href="{{ path('home_desist', {'id': vacation.id})}}" class="pr-1">| Se désister |</a>
                            {%  endif %}
                            {% if vacation.state.id  == "1" and vacation.vacationDate > date() and app.user.id == vacation.organiser.id%}
                                <a href="{{ path('home_cancel', {'id': vacation.id})}}" class="pr-1">| Annuler |</a>
                            {%  endif %}


                            {% if vacation.state.id  == "1" and vacation.vacationLimitDate > date()   and vacation.placeNumber != vacation.booked and not(vacation.getParticipants().contains(app.user)) %}
                                <a href="{{ path('home_inscription', {"id": vacation.id}) }}" class="pl-1">| S'inscrire |</a>
                            {% endif %}

                            {% if vacation.state.id  == "1" and vacation.vacationDate > date('-1month')%}
                                <a href="{{ path('vacation_show', {"id": vacation.id}) }}" class="pr-1">| Afficher |</a>
                            {%  endif %}




                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>


    </div>
{% endblock %}
