{% extends 'base.html.twig' %}

{% block title %}Vacation{% endblock %}

{% block main %}
<div class="d-block">
    <h2 class="text-center mb-5">{{ vacation.name|upper }}</h2>

    <div class="shadow p-3 mb-5 ">
    <table class="table">
        <tbody>

            <tr>
                <th>Date et heure de la sortie</th>
                <td>{{ vacation.vacationDate ? vacation.vacationDate|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Limite d'inscription</th>
                <td>{{ vacation.vacationLimitDate ? vacation.vacationLimitDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places réservées</th>
                <td> {{ vacation.booked}} / {{ vacation.placeNumber }}</td>
            </tr>
            <tr>
                <th>Durée de l'activité</th>
                <td>{{ vacation.duration }}</td>
            </tr>
            <tr>
                <th>Description et infos</th>
                <td>{{ vacation.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div>
        <h2 class="mb-5">Liste des participants inscrits</h2>
        <table class="table shadow p-3 mb-5 ">
            <tbody>

            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            {% for el in participants  %}
            <tr>
                <td>{{ el.pseudo }}</td>
                <td>{{ el.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
