{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}

<div class="container">
    <h1>Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Pseudo</th>
                <th>Name</th>
                <th>FirstName</th>
                <th>Phone_number</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.phoneNumber }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
